{% extends 'blog-base.html' %}
{% load static %}
{% block head %}
<title>ankoor nagargoje | blog</title>
<meta name="description" content="a blog written by ankoor nagargoje covering startups, web developments and memes">
<meta name="keywords" content="ankoor nagargoje, ankoor, nagargoje, startups, startup blog, web development blogs">
<link rel="stylesheet" href="{% static '/css/blog-home.css' %}">
{% endblock %}
{% block content %}

<div class="blogs-div">
    <div class="blogs-flex">
        <div class="blog-container-border">
            <div class="blog-container">
                HI!!
            </div>
        </div>

        <div class="blog-container-border">
            <div class="blog-container">
                HI!!
            </div>
        </div>

        <div class="blog-container-border">
            <div class="blog-container">
                HI!!
            </div>
        </div>
    </div>
</div>

{% endblock %}