{% extends 'blog-base.html' %}
{% load static %}
{% block head %}
<title>my coding journey</title>
<meta name="description" content="ankoor nagargoje's coding journey, from the start till now.">
<meta name="keywords" content="coding journey, coding blogs, ankoor nagargoje, ankoor, code journey, journey">
{% endblock %}

{% block content %}
<br><br><bR><br><br>
<center><h2>wait wait, i know you're excited to know 'bout my journey.<br>but u gotta wait till i write it. <br> i'll compelete
it as fast as i can.😉<br>thanks for checking out!</h2></center>

{% endblock %}