html{
    scroll-behavior: smooth;
}
body{
    background-color: #141414;
    color: #cbd5e1;
    margin:0;
}
a{
    text-decoration:none;
    color:inherit;
    transition:.5s ease;
}

h1, h2, h3{
    margin:0;
}
h4, h5, h6{
    margin:0;
    font-weight:500;
}
p{
    font-size:2em;
}
h1{
    font-size:3.5em;
}
.font{
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
     Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.socials{
    font-size:1.2em;
    transition:.5s ease;
}
.socials:hover{
    background-image: linear-gradient( 109.6deg,  rgba(247,253,166,1) 11.2%, rgba(128,255,221,1) 57.8%, rgba(255,128,249,1) 85.9% );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: translateY(-5px);
}