.navbar {
  width: 80%;
  padding: 25px 0px 25px 0px;
  background-color: transparent;
  margin: auto;
  color:#cbd5e1;
  font-weight:660;
  overflow: hidden;
  display: flex;
}
.navbar div:nth-child(1) {
  justify-content: flex-start;
  margin-right: auto;
}
.navbar div:nth-child(2) {
  justify-content: flex-end;
  margin-left: auto;
  padding-top:10px;
}
.navbar div:nth-child(2) li{
  margin-left:25px;
  font-size:1.3em;
}
.navbar a {
  text-decoration: none;
  color: #cbd5e1;
  font-weight:500;
}
.navbar li {
  list-style-type: none;
  display: inline;
}
.cname {
    font-size:2em;
    cursor: pointer;
}
.hover-border {
  display: inline-block;
  text-decoration: none;
}
.hover-border::after {
  content: "";
  display: block;
  margin: auto;
  margin-top:5px;
  width: 0;
  height: 3px;
  background-image: linear-gradient( 109.6deg,  rgba(247,253,166,1) 11.2%, rgba(128,255,221,1) 57.8%, rgba(255,128,249,1) 85.9% );
  transition: width 0.5s;
}
.hover-border:hover::after {
  width: 100%;
}
.cname-gradient{
    background-image: linear-gradient( 109.6deg,  rgba(247,253,166,1) 11.2%, rgba(128,255,221,1) 57.8%, rgba(255,128,249,1) 85.9% );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media only screen and (max-width: 780px) {
  .navbar{
    flex-direction: column;
    padding-top: 10px;
    width: 100%;
    justify-content: center;
  }
  .navbar div:nth-child(1) {
    justify-content: center;
    width: 100%;
    padding-bottom: 5px;
    margin: auto;
    text-align: center;
    border-radius:2px;
    border-image-source: linear-gradient( 109.6deg,  rgba(247,253,166,1) 11.2%, rgba(128,255,221,1) 57.8%, rgba(255,128,249,1) 85.9% );
    border-bottom: 4px solid;
    border-image-slice: 1;
  }
  .navbar div:nth-child(2) {
    justify-content: center;
    margin: auto;
    width: 100%;
    padding: inherit 0px;
    text-align: center;
    border-bottom: solid 2px #cbd5e1;
  }
  .navbar div:nth-child(2) li{
    margin-left: 0px;
    padding: 0px 10px;
  }
}